.cards {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 282px 17px 282px 17px 282px;
  grid-template-columns: repeat(3, 282px);
  -ms-grid-rows: 361px 20px 361px;
  grid-template-rows: repeat(2, 361px);
  gap: 20px 17px;
}

.card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 25px 0px #00000026;
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 10px 10px 10px 10px;
  width: 282px;
  height: 361px;
  position: relative;
  cursor: pointer;
}

.card__img {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #000000;
  margin: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 25px 0 31px 21px;
  max-width: 226px;
}

@media screen and (max-width: 900px) {
  .cards {
    margin-top: 36px;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
    -ms-grid-columns: 282px 17px 282px;
    grid-template-columns: repeat(2, 282px);
    -ms-grid-rows: 361px 20px 361px 20px 361px;
    grid-template-rows: repeat(3, 361px);
    gap: 20px 17px;
  }
}

@media screen and (max-width: 680px) {
  .cards {
    margin-top: 36px;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
    -ms-grid-columns: 282px;
    grid-template-columns: 282px;
    -ms-grid-rows: 361px 20px 361px 20px 361px 20px 361px 20px 361px 20px 361px;
    grid-template-rows: repeat(6, 361px);
    gap: 20px;
  }
}
