.profile {
  max-width: 880px;
  height: 120px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile__overlay {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.profile__image-edit {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.profile__image:hover {
  opacity: 50%;
}

.profile__image:hover + .profile__image-edit {
  opacity: 1;
}

.profile__info {
  max-width: 417px;
  margin: 22px 0 21px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  column-gap: 17px;
}

.profile__title {
  max-width: 374.1px;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #ffffff;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__subtitle {
  margin: 0;
  padding-top: 16px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #ffffff;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile {
    margin: auto;
    width: 100%;
  }

  .profile__info {
    width: 417px;
  }
}

@media screen and (max-width: 740px) {
  .profile {
    max-width: 282px;
    height: 286px;
    padding-top: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .profile__info {
    max-width: 224px;
    min-width: 40px;
    padding: 30px 0 36px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    column-gap: 10px;
  }

  .profile__title {
    max-width: 196px;
    font-size: 22px;
    font-weight: 500;
  }

  .profile__subtitle {
    max-width: 282px;
    margin: 0;
    padding-top: 0;
    font-size: 14px;
    font-weight: 400;
  }
}
